@inherits LayoutComponentBase

<PageTitle>Financial Manager</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            <h1 class="fs-4 m-0">Financial Manager</h1>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </main>
</div>
