<nav class="nav flex-column p-3">
    <a class="nav-link" href="/">Dashboard</a>
    <a class="nav-link" href="/expenses">Expenses</a>
    <a class="nav-link" href="/incomes">Incomes</a>
    <a class="nav-link" href="/accounts">Accounts</a>
    <a class="nav-link" href="/cards">Credit Cards</a>
</nav>
